@import '@fontsource-variable/figtree';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar,
    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar,
    .scrollbar-none {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
